
@font-face {
  font-family: 'advent_probold';
  src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot');
  src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('adventpro_bold_macroman/adventpro-bold-webfont.woff2') format('woff2'),
       url('adventpro_bold_macroman/adventpro-bold-webfont.woff') format('woff'),
       url('adventpro_bold_macroman/adventpro-bold-webfont.ttf') format('truetype'),
       url('adventpro_bold_macroman/adventpro-bold-webfont.svg#advent_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'folksregular';
  src: url('folks_regular_macroman/Folks-Normal-webfont.eot');
  src: url('folks_regular_macroman/Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('folks_regular_macroman/Folks-Normal-webfont.woff2') format('woff2'),
       url('folks_regular_macroman/Folks-Normal-webfont.woff') format('woff'),
       url('folks_regular_macroman/Folks-Normal-webfont.ttf') format('truetype'),
       url('folks_regular_macroman/Folks-Normal-webfont.svg#folksregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

header, body {
   font-family: 'folksregular';
}

html{
  /*border: ridge black;*/
      /* background-image: url("background1.png"); */
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: auto;     
} 

.moncompte {

  padding-left: 0.5%;
  padding-right: 2%;
  width: 2%;
  top: 29%;
  }
  

.deconnexion {
     display: flex;
     margin-top: 5%;
     margin-left: -10%;
     position: absolute;
     width: 100%;
     height: auto;
     font-size: 118%;
     justify-content: flex-end;
     border: none;
        
}
.deconnexion img {
padding-left: 1%;
width: 2%;
top: 29%;
}

button {
  background-color: #ed1f04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* .blocpage1 {
  display: grid;
  width:73%;
  grid-template-columns: 50% 50% ;
  align-items: start;
  justify-content: space-between;
 
} */

.blocpage2 {
  display: flex;
  width:90%;
  margin: auto;
  align-items: start;
  justify-content: space-between;

}

.blocpage3 {
  display: flex;
  width:90%;
  margin: auto;
  align-items: start;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 13%; 
}

.bref, .adherent, .consulter, .reserver, .emprunter, .retourner, .nouveau, .chercher {
background-color: #F2F2F2;
border-radius: 10px;
padding: 30px;
height: 220px;
margin: 15px;
}

.bref {
  background-color: inherit;
}

.imageillust{
max-width: inherit;
width: 97%;
height: 103%;
align-self: center;

}

.imageillust img {
  width: 100%;
}

h1 {
  text-align: left; 
  font-size: 1.6em;
  color: #317fde;
  text-align: center;
  margin-top: 4%;
  letter-spacing: 4px;  
}
h3 {
  height: 40px;
  font-size: 1.1em;
  color: #317fde;
  text-align: center;
  }

h4 {
  font-size: 1em ;
  font-style: italic;
  font-style: bold;
  text-align: justify;
}
p {
  font-size: 0.9em;
  text-align: center;
  padding-top: 17%;
  height : 75px;
}

.boutontest{
  align-items: center;
  display: flex;
  justify-content: center;
  
}
.boutontest input {
  padding: 15px;
  font-size: 0.8em;
  text-align: center;
  background-color: #317FDE;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
              inset -1px -1px 1px rgba(0, 0, 0, .6);
  border-color: none;
  width: 110%;
  align-self: center;
  margin-top: 2%;
  color: #ebebeb;
}

.boutontest input:hover {
  background-color: #F49a22;
}

.boutontest input:active {
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, .6),
              inset 1px 1px 1px rgba(0, 0, 0, .6);
}


 .footer {
            position: absolute;
            left: 0px;
            margin-bottom: 0px;
            width: 100%;
}
