
@font-face {
    font-family: 'advent_probold';
    src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot');
    src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.woff2') format('woff2'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.woff') format('woff'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.ttf') format('truetype'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.svg#advent_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'folksregular';
    src: url('folks_regular_macroman/Folks-Normal-webfont.eot');
    src: url('folks_regular_macroman/Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('folks_regular_macroman/Folks-Normal-webfont.woff2') format('woff2'),
         url('folks_regular_macroman/Folks-Normal-webfont.woff') format('woff'),
         url('folks_regular_macroman/Folks-Normal-webfont.ttf') format('truetype'),
         url('folks_regular_macroman/Folks-Normal-webfont.svg#folksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header, body {
     font-family: 'folksregular';
     margin-left: 20%;
}

html{
    /*border: ridge black;*/
        /* background-image: url("background1.png"); */
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: auto;     
  } 

 .erreur {

    color: red;
    font-style: italic;
}

form {
    width:40%;
    padding: 30px;
    border: 1px solid #036c9c;
    background: #fff;
}

label {
    color: #036c9c;
}

 input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   box-sizing: border-box;
}

h1 {
    color: #036c9c;
    margin-left: 5%;
}

button {
    background-color: #317FDE;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
              inset -1px -1px 1px rgba(0, 0, 0, .6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}